body {
    background-color: #F5F5F5 ;
    

}
body {
    padding:0px;
    margin:0px;
}

#menu{
    font-size: 30px;
    float: right;
    padding: 60px;
}
#menu ul {
    padding:20px;
    margin:0px;
    float: left;
    width: 100%;
    background-color:#EDEDED;
    list-style:none;
    font:80% Tahoma;

}

#menu ul li { 
    display: inline; 
    padding-left: 10px;
    padding-right: 10px;
}

#menu ul li a {
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
    padding: 2px 10px;
    float:left;
}

#menu ul li a:hover {
    color: #FF8C00;
    border-bottom:2px solid #FF8C00;
}

#logo{
    display: table-cell;
    float: left;
}

p{
    font: tahoma;
}
.corpo p{
    font-size: 50px;
    margin-left: 70%;
    margin-top: -18%;
}

.image1{
    margin-top: 200px;
}

.image2{
    margin-top: -450px;
    margin-left: 45%;
}

.image3{
    margin-left: 10%;
}

.image4{
    margin-left: 55%;
    margin-top: -500px;
}

.image5{

}